<div class="">
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">School Details</h4>
                </div>
                <div class="modal-body" ng-include src="'App/School/SchoolDetails.html'">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="ShowEditForm()" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>School Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div ng-if="showAddForm" class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add School</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form name="School" class="form-horizontal form-label-left" ng-submit="AddSchool(School.$valid,school)" novalidate>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="schoolname">
                                <span class="" style="color:red;" ng-show="ajaxError">Http request is failed.</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="schoolname">
                                Name <span class="required" style="color:red;" ng-show="School.school.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="school" ng-model="SelectedSchool" ng-disabled="schooldisabled" required
                                        ng-options="sobj.SchoolId as sobj.SchoolName for sobj in Schools">
                                    <option value="">-- Select School --</option>
                                </select>
                                <!--<input type="text" ng-model="school.Name" name="schoolname" id="schoolname" class="form-control col-md-7 col-xs-12" required>
                                <p ng-show="School.schoolname.$invalid && !School.schoolname.$pristine" class="help-block">Name is required.</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Branch Name <span class="required" style="color:red;" ng-show="School.branchname.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="branchname" id="branchname" ng-model="school.BranchName" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address1">
                                Address1 <span class="required" style="color:red;" ng-show="School.address1.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="address1" id="address1" ng-model="school.Address1" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address2">
                                Address2
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="address2" id="address2" ng-model="school.Address2" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">
                                Country <span class="required" style="color:red;" ng-show="School.country.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="form-control" name="country" ng-model="SelectedCountry" ng-disabled="countrydisabled" required ng-change="getStates(SelectedCountry);"
                                        ng-options="r.CountryCode as r.CountryName for r in Country">
                                    <option value="">-- Select Country --</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="state">
                                State <span class="required" style="color:red;" ng-show="School.state.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <select class="form-control" name="state" ng-model="SelectedState" ng-disabled="statedisabled" required
                                        ng-options="s.StateId as s.StateName for s in States">
                                    <option value="">-- Select State --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">
                                City <span class="required" style="color:red;" ng-show="School.city.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" name="city" id="city" ng-model="school.City" required class="form-control col-md-7 col-xs-12">
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="zip">
                                Zip Code <span class="required" style="color:red;" ng-show="School.zipcode.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input type="number" maxlength="8" name="zipcode" id="zipcode" ng-model="school.ZipCode" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="School.zipcode.$invalid && !School.zipcode.$pristine" class="help-block">Enter valid zip code(Max 8 digit's).</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">
                                Contact Person <span class="required" style="color:red;" ng-show="School.contactPerson.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" name="contactPerson" id="contactPerson" ng-model="school.ContactPerson" required class="form-control col-md-7 col-xs-12">
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="contactTitle">
                                Title <span class="required" style="color:red;" ng-show="School.contactTitle.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input type="text" name="contactTitle" id="contactTitle" ng-model="school.ContactTitle" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                Email <span class="required" style="color:red;" ng-show="School.email.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input name="email" type="email" id="contactPerson" ng-model="school.Email" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="School.email.$invalid && !School.email.$pristine" class="help-block">Enter valid email.</p>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="phone">
                                Phone <span class="required" style="color:red;" ng-show="School.phone.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input type="number" ng-minlength="10" ng-maxlength="10" name="phone" id="phone" ng-model="school.Phone" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="School.phone.$invalid && !School.phone.$pristine" class="help-block">Enter valid phone number(Max 10 digit's).</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="discription" class="control-label col-md-3 col-sm-3 col-xs-12">Discription</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea rows="3" ng-model="school.Discription" class="form-control col-md-7 col-xs-12">
                                    Enter your text here...
                                </textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" ng-click="AddSchoolCancel();" class="btn btn-primary">Cancel</button>
                                <button ng-if="!IsUpdateClick" type="submit" data-ng-disabled="School.$invalid" class="btn btn-success">Save</button>
                                <button ng-if="IsUpdateClick" type="submit" data-ng-disabled="School.$invalid" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" ng-if="!showAddForm">
                <div class="x_title">
                    <h2>School List </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option>Std</option>
                                        <option>I</option>
                                        <option>II</option>
                                        <option>III</option>
                                        <option>IV</option>
                                        <option>V</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option>Div</option>
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <option>D</option>
                                        <option>E</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="datatable-fixed-header_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-6"><div class="dt-buttons btn-group"><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>CSV</span></a><a class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Excel</span></a><a class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>PDF</span></a><a class="btn btn-default buttons-print btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Print</span></a></div></div><div class="col-sm-6"><div id="datatable-fixed-header_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable-fixed-header"></label></div></div>
                        </div><div class="row">
                            <div class="col-sm-12">
                                <div ng-grid="Schoolsgrid" style="height:200px;" class="table table-striped table-bordered dataTable no-footer"></div>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-5"><div class="dataTables_info" id="datatable-fixed-header_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-fixed-header_paginate" style="display:inline-flex;">
                                    <ul class="pagination" style="margin-top:20px;">
                                        <li>
                                            <div class="datatable-fixed-header">
                                                <button ng-if="!showAddForm" type="button" ng-click="ShowAddForm();" class="btn btn-primary">Add School</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--<ul>
                                        <li>
                                            <div class="datatable-fixed-header">
                                                <button ng-if="!showAddForm" type="button" ng-click="ShowEditForm();" class="btn btn-primary">Update</button>
                                            </div>
                                        </li>
                                    </ul>-->
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" id="datatable-fixed-header_previous">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="0" tabindex="0">Previous</a>
                                        </li>
                                        <li class="paginate_button active">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="1" tabindex="0">1</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="2" tabindex="0">2</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="3" tabindex="0">3</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="4" tabindex="0">4</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="5" tabindex="0">5</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="6" tabindex="0">6</a>
                                        </li>
                                        <li class="paginate_button next" id="datatable-fixed-header_next">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="7" tabindex="0">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#birthday').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>

</div>