<div  class="login-page">
<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                <form name="form" role="form" data-ng-submit="validate(UserName, Password)" class="ng-valid-maxlength ng-dirty ng-valid-parse ng-valid ng-valid-required">
                    <h1>Login Form</h1>
                    <span data-ng-style="{color:'red'}" class="ng-binding" style="color: red;"></span>
                    <div data-ng-class="{'has-error':(form.UserName.$invalid &amp;&amp; form.UserName.$dirty)}">
                        <input id="UserName" name="UserName"  type="text" class="form-control ng-valid-maxlength ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" placeholder="Username" data-ng-model="UserName" data-ng-trim="true" maxlength="20" required/>
                    </div>
                    <div data-ng-class="{'has-error':(form.Password.$invalid &amp;&amp; form.Password.$dirty)}">
                        <input type="password" name="Password" class="form-control ng-valid-maxlength ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" placeholder="Password" data-ng-model="Password" maxlength="20" required>
                    </div>
                    <div>
                        <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-success submit">Log in</button>
                        <!--<a class="btn btn-success submit" href="index.html">Log in</a>
                        <a class="reset_pass" href="#">Lost your password?</a>-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">

                        <!--<p class="change_link">
                            New to site?
                            <a href="#toregister" class="to_register"> Create Account </a>
                        </p>-->
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> School Application</h1>

                            <p>©2016 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
        <div id="register" class="animate form">
            <section class="login_content">
                <form>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required />
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required />
                    </div>
                    <div>
                        <a class="btn btn-success submit" href="index.html">Submit</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">

                        <p class="change_link">
                            Already a member ?
                            <a href="#tologin" class="to_register"> Log in </a>
                        </p>
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><i class="fa fa-paw" style="font-size: 26px;"></i> School Application</h1>

                            <p>©2016 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
    </div>
</div>
</div>