<div class="">
    <div class="modal fade" id="myStudModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">School Details</h4>
                </div>
                <div class="modal-body" ng-include src="'App/Student/StudentDetails.html'">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="ShowStudEditForm()" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>Student Management</h3>
        </div>
        <div class="title_right" ng-if="!showAddStudent">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-left top_search input-group">
                    <input type="text" class="form-control" ng-model="filterOption.name" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-ng-disabled="filterOption.name==''&& filterOption.classId.$invalid && filterOption.sectionId.$invalid" ng-click="loadStudentListBySearch(filterOption)" type="button">Go!</button>
                        <button class="btn btn-default" data-ng-disabled="filterOption.name==''" ng-click="loadStudentList(User.SchoolId)" type="button">Clear!</button>
                    </span>
                </div>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select class="form-control" name="classlist" id="classlist" ng-model="filterOption.classId"
                                        ng-options="c.Id as c.Name for c in Classlist">
                                    <option value="">-- Select Class --</option>
                                </select>

                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select class="form-control" name="studdivsion" ng-model="filterOption.sectionId" ng-disabled="IsStuUpdateClick" required
                                        ng-options="s.Id as s.Name for s in Sectionlist">
                                    <option value="">-- Select Division --</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row" ng-if="showAddStudent">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Student</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form name="StudenAddEdit" class="form-horizontal form-label-left" ng-submit="AddStudent(StudenAddEdit.$valid,StudentDetails)" novalidate>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="schoolname">
                                <span class="" style="color:red;" ng-show="ajaxError">Http request is failed.</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="studentname">
                                Name <span class="required" style="color:red;" ng-show="StudenAddEdit.studentname.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="studentname" id="studentname" ng-model="StudentDetails.StudentName" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="stdEmail">
                                Email <span class="required" style="color:red;" ng-show="StudenAddEdit.stdEmail.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="stdEmail" id="stdEmail" ng-model="StudentDetails.EmailId" ng-disabled="IsStuUpdateClick" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="StudenAddEdit.stdEmail.$invalid && !StudenAddEdit.stdEmail.$pristine" class="help-block">Enter valid email.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentName">
                                Parent Name <span class="required" style="color:red;" ng-show="StudenAddEdit.parentName.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" name="parentName" id="parentName" ng-model="StudentDetails.ParentName" required class="form-control col-md-7 col-xs-12">
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="parentMobileNo">
                                Parent Mobile <span class="required" style="color:red;" ng-show="StudenAddEdit.parentMobileNo.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input type="number" ng-minlength="10" ng-maxlength="10" name="parentMobileNo" id="parentMobileNo" ng-model="StudentDetails.ParentMobileNo" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="StudenAddEdit.parentMobileNo.$invalid && !StudenAddEdit.parentMobileNo.$pristine" class="help-block">Enter valid 10 digit Mobile Number.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" for="rollnumber">
                                Roll Number <span class="required" style="color:red;" ng-show="StudenAddEdit.rollnumber.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" ng-maxlength="6" name="rollnumber" id="rollnumber" ng-model="StudentDetails.RollNumber" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="StudenAddEdit.rollnumber.$invalid && !StudenAddEdit.rollnumber.$pristine" class="help-block">Enter valid Roll Number (Max 6 digit's).</p>
                            </div>-->
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zip">
                                Student ID <span class="required" style="color:red;" ng-show="StudenAddEdit.studeintid.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" maxlength="8" name="studeintid" id="studeintid" ng-disabled="IsStuUpdateClick" ng-model="StudentDetails.StudentId" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primarytag">
                                Primary TagId <span class="required" style="color:red;" ng-show="StudenAddEdit.primarytag.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select width="100px;" class="form-control" name="primarytag" ng-model="StudentDetails.PrimaryTagId" ng-disabled="IsStuUpdateClick" required
                                        ng-options="PT.ID as PT.TagId for PT in primaryTaglist">
                                    <option value="">-- Select Primary Tagid --</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="secondarytag">
                                Secondary TagId <span class="required" style="color:red;" ng-show="StudenAddEdit.secondarytag.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <select width="100px;" class="form-control" name="secondarytag" ng-model="StudentDetails.SecondaryTagId" ng-disabled="IsStuUpdateClick" required
                                        ng-options="ST.ID as ST.TagId for ST in secondaryTaglist">
                                    <option value="">-- Select Secondary Tagid --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">
                                Gender <span class="required" style="color:red;" ng-show="StudenAddEdit.gender.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                Male:
                                <input type="radio" ng-model="StudentDetails.Gender" class="flat" name="gender" id="genderM" value="M" ng-required="!StudentDetails.Gender" /> Female:
                                <input type="radio" ng-model="StudentDetails.Gender" class="flat" name="gender" id="genderF" value="F" ng-required="!StudentDetails.Gender" />

                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="studDOB">
                                Date Of Birth <span class="required" style="color:red;" ng-show="StudenAddEdit.studDOB.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input name="studDOB" ng-model="StudentDetails.DateOfBirthh" class="form-control col-md-7 col-xs-12" required type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="classlist">
                                Class <span class="required" style="color:red;" ng-show="StudenAddEdit.country.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="form-control" name="classlist" id="classlist" ng-model="StudentDetails.ClassId" ng-disabled="IsStuUpdateClick" required
                                        ng-options="c.Id as c.Name for c in Classlist">
                                    <option value="">-- Select Class --</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="studdivsion">
                                Division <span class="required" style="color:red;" ng-show="StudenAddEdit.studdivsion.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <select class="form-control" name="studdivsion" ng-model="StudentDetails.SectionId" ng-disabled="IsStuUpdateClick" required
                                        ng-options="s.Id as s.Name for s in Sectionlist">
                                    <option value="">-- Select Division --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address1">
                                Address1 <span class="required" style="color:red;" ng-show="StudenAddEdit.address1.$invalid">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="address1" id="address1" ng-model="StudentDetails.Address1" required class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address2">
                                Address2
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="address2" id="address2" ng-model="StudentDetails.Address2" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">
                                Country <span class="required" style="color:red;" ng-show="StudenAddEdit.country.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="form-control" name="country" id="selCountry" ng-model="StudentDetails.Country" ng-disabled="IsStuUpdateClick" required ng-change="loadStates(StudentDetails.Country);"
                                        ng-options="r.ID as r.Name for r in Countrylist">
                                    <option value="">-- Select Country --</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="state">
                                State <span class="required" style="color:red;" ng-show="StudenAddEdit.state.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <select class="form-control" name="state" ng-model="StudentDetails.State" ng-disabled="IsStuUpdateClick" required
                                        ng-options="s.Id as s.Name for s in Statelist">
                                    <option value="">-- Select State --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">
                                City <span class="required" style="color:red;" ng-show="StudenAddEdit.city.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <input type="text" name="city" id="city" ng-model="StudentDetails.City" required class="form-control col-md-7 col-xs-12">
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="zip">
                                Zip Code <span class="required" style="color:red;" ng-show="StudenAddEdit.zipcode.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <input type="number" ng-minlength="6" maxlength="6" name="zipcode" id="zipcode" ng-model="StudentDetails.ZipCode" required class="form-control col-md-7 col-xs-12">
                                <p ng-show="StudenAddEdit.zipcode.$invalid && !StudenAddEdit.zipcode.$pristine" class="help-block">Enter valid 6 digit zip code.</p>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" ng-click="AddStudentCancel();" class="btn btn-primary">Cancel</button>
                                <button ng-if="!IsStuUpdateClick" type="submit" data-ng-disabled="StudenAddEdit.$invalid" class="btn btn-success">Save</button>
                                <button ng-if="IsStuUpdateClick" style="margin-bottom:5px;" type="button" ng-click="UpdateStudent(StudenAddEdit.$valid, StudentDetails);" data-ng-disabled="StudenAddEdit.$invalid" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!showAddStudent">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div id="datatable-fixed-header_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row" style="display:none;">
                            <div class="col-sm-6"><div class="dt-buttons btn-group"><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>CSV</span></a><a class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Excel</span></a><a class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>PDF</span></a><a class="btn btn-default buttons-print btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Print</span></a></div></div>
                        </div><div class="row">
                            <div class="col-sm-12">
                                <div ng-grid="Studentgrid" style="height:200px;" class="table table-striped table-bordered dataTable no-footer"></div>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-fixed-header_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-fixed-header_paginate" style="display:inline-flex;">
                                    <ul class="pagination" style="margin-top:20px;">
                                        <li>
                                            <div class="datatable-fixed-header">
                                                <button ng-if="!showAddStudent" type="button" ng-click="ShowAddStudentForm();" class="btn btn-primary">Add Student</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" id="datatable-fixed-header_previous">
                                            <a href="#" aria-controls="datatable-fixed-header" data-dt-idx="0" tabindex="0">Previous</a>
                                        </li>
                                        <li class="paginate_button active"><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="1" tabindex="0">1</a></li>
                                        <li class="paginate_button "><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="2" tabindex="0">2</a></li>
                                        <li class="paginate_button "><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="3" tabindex="0">3</a></li>
                                        <li class="paginate_button "><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="4" tabindex="0">4</a></li>
                                        <li class="paginate_button "><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="5" tabindex="0">5</a></li>
                                        <li class="paginate_button "><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="6" tabindex="0">6</a></li>
                                        <li class="paginate_button next" id="datatable-fixed-header_next"><a href="#" aria-controls="datatable-fixed-header" data-dt-idx="7" tabindex="0">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>