<div class="">
    <!--<div class="page-title">
        <div class="title_left">
            <h3>Time Table</h3>
        </div>
        <div class="title_right" ng-if="!showAddTimeTable">
            <div class="row">
                <div class="col-md-10 col-sm-5 col-xs-12 form-group pull-left top_search input-group">
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control" name="classlist" id="classlist" ng-model="filterOption.classId"
                                            ng-options="c.Id as c.Name for c in Classlist">
                                        <option value="">-- Select Class --</option>
                                    </select>

                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control" name="studdivsion" ng-model="filterOption.sectionId" ng-disabled="IsStuUpdateClick" required
                                            ng-options="s.Id as s.Name for s in Sectionlist">
                                        <option value="">-- Select Division --</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-ng-disabled="filterOption.classId.$invalid&& filterOption.sectionId.$invalid" ng-click="loadTimeTableBySearch(filterOption)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>


    </div>-->
    <div class="clearfix"></div>
    <div id="SchoolNorecords" style="font-weight:bold; color:red; font-size:14px; text-align:center;" ng-show="ajaxError">Internal Server Error.</div>
    <div class="row" ng-if="showAddTimeTable">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Time Table</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form name="TimeTableAddEdit" class="form-horizontal form-label-left" ng-submit="AddTimeTable(TimeTableAddEdit.$valid,TimeTableDetails)" novalidate>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="schoolname">
                                <span class="" style="color:red;" ng-show="ajaxError">Http request is failed.</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="classlist">
                                Class <span class="required" style="color:red;" ng-show="TimeTableAddEdit.country.$invalid">*</span>
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="form-control" name="classlist" id="classlist" ng-model="TimeTableDetails.ClassId" ng-disabled="IsAddClicked" required
                                        ng-options="c.Id as c.Name for c in Classlist">
                                    <option value="">-- Select Class --</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" for="studdivsion">
                                Division <span class="required" style="color:red;" ng-show="TimeTableAddEdit.studdivsion.$invalid">*</span>
                            </label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <select class="form-control" name="studdivsion" ng-model="TimeTableDetails.SectionId" ng-disabled="IsAddClicked" required
                                        ng-options="s.Id as s.Name for s in Sectionlist">
                                    <option value="">-- Select Division --</option>
                                </select>
                            </div>
                        </div>
                        <div class="ngTopPanel ng-scope" ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}" ng-style="topPanelStyle()" style="width: 1032px; height: 30px;">
                            <!--<div class="table table-striped table-bordered dataTable no-footer">-->
                            <div class="row form-group">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Lecture</div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Monday</div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Tuesday</div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Wednessday</div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Thrusday</div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Friday</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 ngHeaderText">Action</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <select class="form-control" name="lecturelist" id="lecturelist" ng-model="TimeTableDetails.Lecture" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.Duration as c.Duration for c in Lecturelist">
                                            <option value="">-- Select Lecture --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <select class="form-control" name="mondaySubjectlist" id="mondaySubjectlist" ng-model="TimeTableDetails.Monday" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.SubjectName as c.SubjectName for c in Subjectlist">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <select class="form-control" name="tuesdaySubjectlist" id="tuesdaySubjectlist" ng-model="TimeTableDetails.Tuesday" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.SubjectName as c.SubjectName for c in Subjectlist">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <select class="form-control" name="wednessdaySubjectlist" id="wednessdaySubjectlist" ng-model="TimeTableDetails.Wednessday" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.SubjectName as c.SubjectName for c in Subjectlist">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <select class="form-control" name="thrusdaySubjectlist" id="thrusdaySubjectlist" ng-model="TimeTableDetails.Thursday" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.SubjectName as c.SubjectName for c in Subjectlist">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2 ">
                                        <select class="form-control" name="fridaySubjectlist" id="fridaySubjectlist" ng-model="TimeTableDetails.Friday" ng-disabled="IsTimeTableClick" required
                                                ng-options="c.SubjectName as c.SubjectName for c in Subjectlist">
                                            <option value="">-- Select Subject --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2 ">
                                    <button ng-if="!IsTimeTableUpdateClick" type="button" data-ng-disabled="TimeTableAddEdit.$invalid" ng-click="AddTT();" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </div>

                        <div class="row"></div>
                        <div class="row" ng-if="showSaveTimeTable">
                            <div class="col-sm-12">
                                <div ng-grid="TimeTableSavegrid" style="height:200px;" class="table table-striped table-bordered dataTable no-footer"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" ng-click="AddTimeTableCancel();" class="btn btn-primary">Cancel</button>
                                <button ng-if="!IsStaffUpdateClick" type="submit" ng-if="showSaveTimeTable" data-ng-disabled="TimeTableAddEdit.$invalid" class="btn btn-success">Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!showAddTimeTable">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <h2>Search Timetable</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control" id="classlist" ng-model="filterOption.classId"
                                            ng-options="c.Id as c.Name for c in Classlist">
                                        <option value="">-- Select Class --</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control" name="studdivsion" ng-model="filterOption.sectionId" required
                                            ng-options="s.Id as s.Name for s in Sectionlist">
                                        <option value="">-- Select Division --</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <!--<button type="button" ng-click="loadStaffList(User.SchoolId);" class="btn btn-primary">Clear</button>-->
                                    <button type="button" ng-click="loadTimeTableBySearch(filterOption);" data-ng-disabled="filterOption.classId==0 && filterOption.sectionId==0" class="btn btn-primary">Go</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="datatable-fixed-header_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row" style="display:none;">
                            <div class="col-sm-6"><div class="dt-buttons btn-group"><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>CSV</span></a><a class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Excel</span></a><a class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>PDF</span></a><a class="btn btn-default buttons-print btn-sm" tabindex="0" aria-controls="datatable-buttons"><span>Print</span></a></div></div>
                        </div><div class="row">
                            <div class="col-sm-12">
                                <div ng-grid="TimeTablegrid" style="height:200px;" class="table table-striped table-bordered dataTable no-footer"></div>
                            </div>
                        </div><div class="row">
                        </div><div class="col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-fixed-header_paginate" style="display:inline-flex;">
                                <ul class="pagination" style="margin-top:20px;">
                                    <li>
                                        <div class="datatable-fixed-header">
                                            <button ng-if="!showAddTimeTable" type="button" ng-click="ShowAddTimeTableForm();" class="btn btn-primary">Add Time Table</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


