<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="StudentTrackingContext" connectionString="metadata=res://*/StudentTracking.csdl|res://*/StudentTracking.ssdl|res://*/StudentTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.109;initial catalog=octosoftlab;persist security info=True;user id=octosoftlab;password=Admin@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>